/cache/
/runs/
/guest/build/
/guest/*.nro
/guest/*.nacp
/guest/*.elf
/bridge/target/
/bridge/client.js
/bridge/page.html
/audio-tests/bin/
/audio-tests/obj/
*.keys
*.nsp
*.xci
*.nca
*.7z
__pycache__/

/bridge/.tsbuildinfo
